<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p><a href="/error/trigger" style="color: #f7fafc;">Trigger Error</a></p>
    <p class="copyright">&copy; 2025, CSE 340 App</p>
</footer>
