<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <meta name="description" content="Discover premium vehicles at Mac Motors. Featuring the iconic Delorean DMC-12 with custom upgrades.">

    <!-- Favicon and Manifest -->
    <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/webp" href="/optimized/favicon/favicon-32x32.webp" sizes="32x32">
    <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Preload critical resources -->
    <link rel="preload" href="/css/styles.css" as="style">
    <img src="/optimized/vehicles/delorean-tn.webp" alt="Delorean" loading="lazy">


    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
