<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%- title %></title>
<meta name="description" content="Discover premium vehicles at CSE Motors. Featuring the iconic Delorean DMC-12 with custom upgrades including flux capacitors, stainless steel hub caps, and time traveler packages.">
<!--Google Fonts  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">  -->
<!--          js script 
<script src="/js/script.js" defer></script>  -->
    <!-- CSS Files -->
<link rel="stylesheet" href="/css/styles.css" media="screen">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"> -->