<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">Mac Motors</a>
    </span>
    <div id="tools">
        <% if (locals.user) { %>
            <!-- Display when user is logged in -->
            <a title="Welcome message" href="/account/manage">Welcome <%= locals.user.name || 'User' %></a>
            <a title="Click to log out" href="/account/logout">Logout</a>
        <% } else { %>
            <!-- Display when user is not logged in -->
            <a title="Click to log in" href="/account/login">My account</a>
        <% } %>
    </div>
</header>