<%- include("partials/header") %>

<main class="content-container">
  <section class="welcome-section">
    <h1><%= title %></h1>
    <p><%= message %></p>
    <a href="/" class="own-today-btn">Return Home</a>
  </section>
</main>


